[submodule "mruby"]
	path = vendor/mruby
	url = https://github.com/mruby/mruby
[submodule "emsdk"]
	path = vendor/emsdk
	url = https://github.com/emscripten-core/emsdk
[submodule "mrubyc"]
	path = vendor/mrubyc
	url = https://github.com/mrubyc/mrubyc
